h1 {color: #22FBFF; font-family: 'Karla', sans-serif;
font-family: 'Bree Serif', serif;}
body  {background-color: lightblue; font-family: 'Karla', sans-serif;}
body {background-image: url("http://www.brandgradients.com/img/backgrounds/amp-hex-colors-gradient-background.png");
background-repeat: no-repeat center center fixed;   -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
